<div style="padding-top:10px">

  <mat-form-field style="width:480px;">
    <input matInput placeholder="Search IMDB" aria-label="State" [matAutocomplete]="auto" [formControl]="searchMoviesCtrl">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
      <ng-container *ngIf="!isLoading">
        <mat-option *ngFor="let movie of filteredMovies" [value]="movie.Title" (click)="OnMovieSelected(movie.imdbID)">
          <span><b>{{movie.Title}}</b> ({{movie.Year}})</span>
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>

  <br>

  <mat-card *ngIf="showResult">
    <mat-card-header>
      <mat-card-title>{{newMovie.Title}} ({{newMovie.Year}})</mat-card-title>
      <mat-card-subtitle>{{newMovie.Type}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{newMovie.Poster}}" alt="{{newMovie.Title}} {{newMovie.imdbID}}" style="width:50%">
    <mat-card-actions>
      <button mat-button (click)="OnMovieAdd()">Add Movie to Collection</button>
    </mat-card-actions>
  </mat-card>

</div>
