<mat-paginator [length]="movies.length" [pageSize]="pageSize" 
   (page)="getPaginatorData($event)">
</mat-paginator>
<mat-accordion>

  <mat-expansion-panel *ngFor="let movie of movies | slice: lowValue : highValue">
    <mat-expansion-panel-header [collapsedHeight]="'100px'" [expandedHeight]="'100px'">
      <mat-panel-title>
        <img [src]="posterPath + movie.Poster + '?raw=true'" width=70 style="padding-right:12px;" />
        {{ movie.Title }}<br /><br />{{ movie.Genre }}&nbsp;&nbsp;&nbsp;{{ movie.Rated }}&nbsp;{{ movie.Runtime }}
      </mat-panel-title>
    </mat-expansion-panel-header>
        {{ movie.Plot }}<br /><br />
        {{ movie.Actors }}
    <mat-action-row>
      <button mat-button>Edit</button><button mat-button>Play</button>
    </mat-action-row>
  </mat-expansion-panel>

<mat-accordion>
