<mat-accordion>

  <mat-expansion-panel *ngFor="let movie of movies | async; index as MovieId">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <img [src]="posterPath + movie.Poster + '?raw=true'" width=30 />
        &nbsp;{{ movie.Title }}<br />
        &nbsp;{{ movie.Genre }}&nbsp;&nbsp;{{ movie.Rated }}&nbsp;{{ movie.Runtime }}
      </mat-panel-title>
    </mat-expansion-panel-header>
        {{ movie.Plot }}<br /><br />
        {{ movie.Actors }}
    <mat-action-row>
      <button mat-button>Edit</button><button mat-button>Play</button>
    </mat-action-row>
  </mat-expansion-panel>

<mat-accordion>
